body{
    background-image:url(images/mwesigwa-joel-FXdIjVRFh24-unsplash.jpg);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-position:center;
}